# Copyright 2014 LinkedIn Corp.
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

[server1-perf]
infile=/tmp/server_client_test/collected_logs/server1-AdditionServerPerf.csv
columns=latency
sep=,
qps.sla=mean<7
latency.sla=mean<0.33 p50<0.3

[server2-perf]
infile=/tmp/server_client_test/collected_logs/server2-AdditionServerPerf.csv
columns=latency
sep=,
qps.sla=mean<7
latency.sla=mean<0.33 p50<0.3

[server3-perf]
infile=/tmp/server_client_test/collected_logs/server3-AdditionServerPerf.csv
columns=latency
sep=,
qps.sla=mean<7
latency.sla=mean<0.33 p50<0.3

[client1-perf]
infile=/tmp/server_client_test/collected_logs/client1-AdditionClientPerf.csv
columns=latency
sep=,
qps.sla=mean<2
latency.sla=mean<35 p50<22

[client2-perf]
infile=/tmp/server_client_test/collected_logs/client2-AdditionClientPerf.csv
columns=latency
sep=,
qps.sla=mean<2
latency.sla=mean<35 p50<22
